html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#chartdiv {
    width: 100%;
    height: 100%;
}
.chart-width{
  width: 500px!important;
}
.chart-progressBar-main{
  margin-top: 5%;
}
.chart-padding-top{

  
}